<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

<servlet>
    <servlet-name>Loader</servlet-name>
    <servlet-class>gen.Loader</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

<servlet>
<servlet-name>landing</servlet-name>
    <jsp-file>/landing.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>landing</servlet-name>
    <url-pattern>/landing</url-pattern>
  </servlet-mapping>
  
  <servlet>
<servlet-name>home</servlet-name>
    <jsp-file>/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>Redirect</servlet-name>
    <jsp-file>/doiRedirect.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/Redirect</url-pattern>
  </servlet-mapping>

 <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>


</web-app>
